<h1>QuestionsController#answer</h1>
<p>Find me in app/views/application_controller/answer.html.erb</p>
<h3> Your question: </h3>
<h3> <%= @ask %></h3>
<h3> Your coach's answer: </h3>
<h3> <%= @answer %></h3>
<%= link_to "Say again", ask_path %>
